eval "$(devenv direnvrc)"

# Set the timeout for direnv warning
export DIRENV_WARN_TIMEOUT=300s

# Nix-specific variables
# export NIXPKGS_ALLOW_BROKEN=1
export NIXPKGS_ALLOW_UNFREE=1
# export NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1

# Set the UV project venv directory
export UV_PROJECT_ENVIRONMENT=$(pwd)/.venv
export IO_DIR=$(pwd)/IO

# Can load a private .envrc for personal keys/variables
source_env ".envrc.private"

use devenv --impure --verbose
